/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
	.header {
		width: 100%;
		height: 20%;
	}
	.header .logo  {
		height: 50%;
		margin: auto;
	 	text-align: center;
		/* background-color: green; */
		float: none;
	}
	.main {
		/* background-color: red; */
		height:70%;
	}
	
  .header .nav  {
	  height: 50%;
	  margin: auto;
	  /* background-color: silver; */
	  float: none;
  }
  .header .nav a {
	  /* background-color: gray; */
	  float:none;
  }
  .footer {
    height: 10%;
  }
}
