<footer class="footer"><!Footer contains: github, newsletter, contact, and in the future: whitepaper, roadmap––>
   <div class="footer-list">
	   <a href="https://github.com/light-stream" class="github">Github</a> -
	   <a href="mailto:30n1st@gmail.com?subject=Subscribe to lightstream product news&body=Hi, please let me know when lightstream launches. Thanks" class="subscribe">Newsletter</a> -
	   <a href="mailto:30n1st@gmail.com?subject=Hello lightstream" class="contact">Contact</a>
   </div>
</footer>
