body {
  background-color: gray;
}
html, body {
     height: 100%;
	  margin: 0px;
	  font-size: 16px;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .outer {
	 height: 100%;
 }
 .outer h1 {
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 line-height: 84px;
	 height:84px;
	 margin: 0px;
	 /* background: yellow; */
	 text-align: center;
 }
 .outer h2 {
 	 font-family: 'Comfortaa', cursive;
 	line-height: 84px;
 	height:84px;
 	margin: 0px;
 	/* background: yellow; */
 	text-align: center;
 }

.container {
	position:relative; /* needs to be absolutely position */
	top:-84px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height:100%;
  width:100%;
  text-align: center;
	text-align: center;
	align-items: center;
	max-width: 700px;
   margin: auto; /* margin: 0px;  For some reason this is needed, when you set the max-width */
  vertical-align: middle;
  width: 100%;
}
#content {
  width: 624px;
  margin-left: auto;
  margin-right: auto;
  height: 395px;
}
content {
	height:100%;
   max-width: 700px;
   margin: auto; /* margin: 0px;  For some reason this is needed, when you set the max-width */
}
#illustrationContent {
	width: 624px;
   margin-left: auto;
   margin-right: auto;
   height: 395px;
	/* background-color: white; */
	text-align: center;
	vertical-align: middle;
	line-height: 395px;       /* The same as your div height */
}
#one {
	background: white;
}
#two {
	color: white;
	background: black;
}
#three {
  background: white;
}
#four {
	color: white;
   background: black;
}
#five {
  background: white;

}
#six {
	color: white;
  background: black;
    font-size: 20px;
}
#seven {
  background: white;
}
#seven p {
  background: white;
  font-size: 32px;
}
#eight {
	color: white;
  background: black;

}
#eight p {
	font-size: 22px;
}
