html, body {
  height: 100%;
  background-color: white;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.box {
   text-align: center;
  display: -webkit-flex;
  display: flex;
  background-color: purple;
  align-items: center;
  height:100%;
  width:100%;
  text-align: center;
}
.logo {
   height:100px;
   width:100px;
   background-color: yellow;
 text-align: center;
align-items: center;
}
content {
   max-width: 700px;
   margin: auto; /* margin: 0px;  For some reason this is needed, when you set the max-width */
}
body {
  background-color: white;
}
logo {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Comfortaa', cursive;*/
  color: black;
  font-size: 36px;
}

h3 {
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 24px;
}
nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 16px;
}
.container1 {
    height: 100%;
    background: white;
}
.container2 {
    height: 100%;
    background: green;
}
.container3 {
    height: 100%;
    background: red;
}
.container4 {
    height: 100%;
    background: blue;
}
.container5 {
    height: 100%;
    background: green;
}
.container6 {
    height: 100%;
    background: red;
}
.container7 {
    height: 100%;
    background: blue;
}
.container8 {
   height: 100%;
   background: green;
}
.container9 {
   height: 100%;
   background: red;
}
.container10 {
  height: 100%;
  background: blue;
}
.container11 {
  height: 100%;
  background: white;
}
