body {
  background-color: white;
}
html, body {
     height: 100%;
     margin: 0px;
 }
 .container1 {
     height: 100%;
     background: purple;
 }
 .container2 {
     height: 100%;
     background: green;
 }
 .container3 {
     height: 100%;
     background: red;
 }
 .container4 {
	  height: 100%;
	  background: blue;
 }
 .container5 {
	  height: 100%;
	  background: green;
 }
 .container6 {
	  height: 100%;
	  background: red;
 }
 .container7 {
	  height: 100%;
	  background: blue;
 }
 .container8 {
	 height: 100%;
	 background: green;
 }
 .container9 {
	 height: 100%;
	 background: red;
 }
 .container10 {
	height: 100%;
	background: blue;
 }
 .container11 {
	height: 100%;
	background: white;
 }
